<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id="app">
    <h1>Messages</h1>
    <ul id="messages">
      
    </ul>
    <form onsubmit="sendMessage(event)">
      <input type="text" id="input" placeholder="message" />
      <button type="submit" id="send">send</button>
    </form>
  </div>
  <script type="text/javascript">
    const input = document.getElementById('input');
    const send = document.getElementById('send');
    const messages = document.getElementById('messages');
    const ws = new WebSocket(`${window.location.protocol === 'https:' ? 'wss' : 'ws'}://${window.location.host}/ws/assistant/`);

    ws.onclose = () => {
      console.info('You have been disconnected');
    }

    ws.onmessage = (e) => {
      const data = JSON.parse(e.data);
      const li = document.createElement('li');

      switch (data.type) {
        case 'thinking':
          send.disabled = true;
          break;
        case 'done':
          send.disabled = false;
          break;
        case 'answer':
        case 'ask':
          li.innerText = data.data.text;
          messages.appendChild(li);
          break;
        default:
          console.log('Could not determine how to handle', data);
          break;
      }
    }

    function sendMessage(e) {
      e.preventDefault();

      if (input.value) {
        ws.send(JSON.stringify({
          message: input.value,
        }));

        input.value = '';
      }
    }
  </script>
</body>
</html>