<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
</head>
<body>
  <div id="app">
    <ul id="messages">
      
    </ul>
    <form onsubmit="sendMessage(event)">
      <input type="text" id="input" />
    </form>
  </div>
  <script type="text/javascript">
    const input = document.getElementById('input');
    const messages = document.getElementById('messages');
    const ws = new WebSocket(`ws://${window.location.host}/ws/assistant/`);

    ws.onmessage = (e) => {
      const data = JSON.parse(e.data);
      const li = document.createElement('li');
      
      li.innerText = data.message;

      messages.appendChild(li);
    }

    function sendMessage(e) {
      e.preventDefault();

      ws.send(JSON.stringify({
        message: input.value,
      }));

      input.value = '';
    }
  </script>
</body>
</html>